.table-product__heading-item {
    text-align: center;
    line-height: 60px;
    border: 1px solid var(--text-color);
    border-right: 0;
    font-weight: 600;
    background-color: #f7f7f7;
}

.col.l-1 .table-product__heading-item {
    border-right: 1px solid var(--text-color);
}

.table-product__container-item {
    text-align: center;
    border: 1px solid var(--text-color);
    border-right: 0;
    border-top: 0;
    padding: 16px 0;
    height: 132px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.col.l-1 .table-product__container-item {
    border-right: 1px solid var(--text-color);
}

.table-product__container-item img {
    height: 100%;
}

.form__cart {
    display: flex;
}

.form__input-cart {
    width: 80px;
    margin: 0;
    text-align: center;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

.btn-num--apart-cart,
.btn-num--add-cart {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-num--apart-icon,
.btn-num--add-icon {
    z-index: -1;
}

.table-product__container-item-price,
.table-product__container-item-total {
    color: var(--primary-color);
}

.table-product__container-item-removecart {
    position: relative;
}

.table-product__container-item-icon {
    font-size: 2.2rem;
}

.table-product__container-item-removecart:hover .table-product__container-item-icon,
.table-product__container-item-removecart:active .table-product__container-item-icon {
    font-size: 2.4rem;
    color: var(--active-color);
    cursor: pointer;
}

.table-product__container-item-removecart>input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    outline-style: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/* cart__total-box */

.cart__total-box {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: var(--primary-color);
}

.cart__total-price {
    margin-left: 16px;
}

.table-product__container-list-no-cart {
    display: block;
    text-align: center;
}


/* btn__box */

.btn__box {
    display: flex;
    justify-content: space-between;
}

.btn__box .btn {
    text-transform: uppercase;
}